* {
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif ;
}

ul{
    color: antiquewhite;
}

image{
    display: flexbox;
width: 300px;
height: 300px;}


article{
    width: 300px;
}

body {
    background-color: aqua;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}
#Work{
    
}


header,
footer{ display: inline;

}

/*For mobile devices*/
@media only screen and (max-width: 768px)

/* tablet styles  */
@media screen and (width: 650px) {
    
}

/* For desktop  */

@media screen and (width: 1100px) {}