* {
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif ;
}

ul{}

image{
    display: flexbox;}

body {
    background-color: aqua;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}


header,
footer{ inl

}