:root{
    --darkblue: rgb(7, 7, 61);
    --white: antiquewhite;

}

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif ;
}

#navbarheader{
    font-size: 150%;
}

#top-image {
    width: 100%;
    height: 300px;
    background-color: var(--darkblue);
    color: var(--white);
}

img{
    display: flexbox;
width: 300px;
height: 300px;}

#about-me{
    color: antiquewhite;
    background-color: var(--darkblue);
    padding: 50px;
}

/*article{
    width: 300px;
    padding: 30px;
}*/
/*
article:hover {
    background-color: aquamarine;
}
*/

body {
    background-color:var(--darkblue);
    color: var(--white);
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

#navbar{display: flex;
    justify-content: space-between;
    background-color: var(--darkblue);
    color: var(--white);
    padding: 30px;
}

#navlist{display: flex;
    width: 30%;
justify-content: space-around;
color: antiquewhite;
background-color: var(--darkblue);
}

#navlistbottom{
/*    display: flex;*/
color: antiquewhite;
background-color: var(--darkblue);

}

#main-body-section{
    display: flex;
}

#aboutme-p {flex-basis: 75%;}

.main-section{
    display: flex;
    justify-content: space-around;
}

article{
    padding: 20px;
}

#project-1-image{
    width: 315%;
}

#main-section-header{
    text-align: center;
font-size: 18pt;
background-color: var(--darkblue);
    color: var(--white);
padding: 20px;
}

#work-section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#work{
    background-color: var(--darkblue);
    color: var(--white);
    padding: 20px;
}

div{
    display: flex;
}

#row-1{
    display: flex;
}

#row-2{
    display: flex;
}

#row-3{
    display: flex;
}

figcaption{
    width: 100%;
    size: 0, 90px;
}

em{
    font-size: smaller;
    background-color: var(--darkblue);
    color: var(--white);
    margin-left: 5px;
}

#Contact-Me{
    padding: 2%;
}

#navfooter{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkblue);
    color: var(--white);
    }

footer{
    text-align: center;
    background-color: var(--darkblue);
    color: var(--white);
    padding: 2%;
}

/*For mobile devices*/
@media only screen and (max-width: 768px){

}

/* tablet styles  */
@media screen and (width: 992px) {
    
}

/* For desktop  */
@media screen and (width: 1024px) {

}